{% extends 'base.html.twig' %}

{% block title %}Miesięczne podsumowanie czasu pracy{% endblock %}

{% block body %}
    <span>Podsumowanie czasu pracy - miesiąc</span>

    <div>
        {{ form_start(monthSummaryForm) }}
        {{ form_row(monthSummaryForm.employee) }}
        {{ form_row(monthSummaryForm.startMonth) }}
        <button type="submit">Podsumuj</button>
        {{ form_end(monthSummaryForm) }}
    </div>
{% endblock %}
