{% extends 'base.html.twig' %}

{% block title %}Dzienne podsumowanie czasu pracy{% endblock %}

{% block body %}
    <span>Podsumowanie czasu pracy - dzień</span>

    <div>
        {{ form_start(daySummaryForm) }}
        {{ form_row(daySummaryForm.employee) }}
        {{ form_row(daySummaryForm.startDay) }}
            <button type="submit">Podsumuj</button>
        {{ form_end(daySummaryForm) }}
    </div>
{% endblock %}
