{% extends 'base.html.twig' %}

{% block title %}Dodaj pracownika{% endblock %}

{% block body %}
<span>Tworzenie pracownika</span>
    <div>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit">Utwórz pracownika</button>
        {{ form_end(userForm) }}
    </div>

{% endblock %}
