{% extends 'base.html.twig' %}

{% block title %}Dodaj czas pracy{% endblock %}

{% block body %}
    <span>Rejestracja czasu pracy</span>

    <div>
        {{ form_start(workTimeForm) }}
        {{ form_widget(workTimeForm) }}
            <button type="submit">Rejestruj</button>
        {{ form_end(workTimeForm) }}
    </div>
{% endblock %}
